*{
    font-size:20px;
}
h1{
    text-align:center;
}
#ch{
   margin: 2px;
   padding: 2px;
   width: auto;
}
.Text{
    background-color: aliceblue;
}

.section-one, .section-two {
    text-align: center;
    font-size: 32px;
    padding: 10px;
    margin: 10px;
    height: 400px;
    line-height: 200px;
    display: inline-block;
    width: 45%;
  }
.section-one {
    background-color: yellow;
  }
  
  .section-two {
    background-color: red;
  }